@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/*     MIXINS  */
/*   Typography  start  */
h1 {
  color: #191932;
  font-weight: 700;
  padding-bottom: 1rem;
}

h3 {
  color: #373966;
  font-weight: 600;
}

/*   typography end  */
* {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Poppins", sans-serif;
  background-color: #f6f6f6;
}

/*         Grid layout     */
.container {
  margin: 5rem 1rem 8rem 1rem;
}

.wrapper {
  margin-bottom: 2rem;
}

/*    NAVIGATION START     */
.logo {
  width: 53px;
  height: 53px;
}
.logo a img {
  height: 100%;
  padding-left: 1rem;
}

.logodesktop {
  height: 80%;
  display: none;
}

.mobilenav ul li {
  flex-basis: 25%;
}

li a {
  color: #ffffff;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

main {
  margin: 80px 0px 100px 0px;
}

.mobilenav {
  position: fixed;
  flex-direction: column;
  bottom: 0;
  background-color: #191932;
  width: 100%;
}
.mobilenav ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  text-align: center;
}
.mobilenav ul li {
  margin: 0.5rem 1rem 0.5rem 1rem;
}
.mobilenav ul li a {
  color: #c3c5e5;
}
.mobilenav ul li a .icon {
  height: 2em;
  width: 2em;
}

.mobiletop {
  height: 3.5em;
  position: fixed;
  background-color: #191932;
  text-decoration: none;
  left: 0;
  right: 0;
  top: 0;
  padding-right: 5rem;
}
.mobiletop > ul {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  height: 100%;
}
.mobiletop a {
  color: #ffffff;
}
.mobiletop .icon {
  height: 2em;
  width: 2em;
}
.mobiletop #profilewrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 27px);
  flex-basis: 25%;
  grid-column-gap: 25px;
}
.mobiletop #fullname {
  grid-column: 2/3;
  color: #ffffff;
}
.mobiletop #profilepicture {
  grid-row: 1/2;
  grid-column: 1/2;
  text-align: right;
}
.mobiletop #profilepicture img {
  height: 50px;
  width: 50px;
  border-radius: 100px;
}
.mobiletop #notification {
  grid-column: 4/4;
  grid-row: 1/2;
  width: 30px;
  text-decoration: none;
  position: relative;
  cursor: pointer;
  padding-top: 6px;
}
.mobiletop #notification_total {
  position: absolute;
  bottom: 0px;
  right: -10px;
  background: red;
  padding: 3px 8px;
  font-size: 10px;
  border: 2px solid #191932;
  color: #ffffff;
  border-radius: 50%;
}
.mobiletop #notification_overlay {
  white-space: nowrap;
  background-color: #ffffff;
  border: 1px solid #bfc9d8;
  padding: 5px 20px;
  border-radius: 8px;
  margin: 0px 0px 18px 0px;
  position: absolute;
  right: -80px;
  top: 55px;
  text-align: center;
  display: none;
  overflow: auto;
  height: 30rem;
  width: 17rem;
}
.mobiletop #notification_overlay ul li {
  white-space: initial;
  text-align: left;
  border: 1px solid #bfc9d8;
  border-radius: 8px;
  padding: 1rem;
  background: #f6f6f6;
  margin-bottom: 0.5rem;
}
.mobiletop #email {
  grid-column: 2/3;
  grid-row: 1/2;
  color: #f3f2f8;
}
.mobiletop .profile_info {
  display: grid;
  width: 200px;
  grid: row;
  grid-template-areas: "p  a" "p t";
}
.mobiletop .profile_picture {
  height: 50px;
  width: 50px;
  border-radius: 100px;
  grid-area: p;
  grid-column: 1;
  grid-row: 0;
}
.mobiletop .profile_name {
  font-weight: 500;
  grid-area: a;
  grid-row: 1;
  grid-column: 2;
}
.mobiletop .profile_name a {
  color: #463fca;
  text-decoration: none;
}
.mobiletop .profile_mail {
  color: #7b7485;
  grid-area: t;
  grid-row: 2;
  grid-column: 2;
  color: #7b7485;
}

.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 3.5rem;
  left: 0;
  background-color: #191932;
  overflow: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: absolute;
  width: 100%;
  overflow-y: hidden;
  top: 10%;
  margin: 2rem 0rem;
}

.overlay a {
  padding: 15px;
  text-decoration: none;
  font-size: 1.3em;
  color: #c3c5e5;
  display: block;
  transition: 0.3s;
  text-align: center;
}

.overlay a:hover,
.overlay a:focus {
  color: #ffffff;
}

.overlay .closebtn {
  bottom: 0;
  left: 0;
  right: 0;
  margin-top: 8rem;
  font-size: 40px;
}

/*    NAVIGATION END     */
/*      FAVORITE      */
.favorite {
  display: flex;
  justify-content: flex-start;
  overflow: auto;
}
.favorite .dot {
  height: 175px;
  width: 175px;
  border-radius: 20px;
  margin-right: 1rem;
}
.favorite .dot a {
  color: #ffffff;
  text-decoration: none;
}
.favorite .dot1 {
  background-image: linear-gradient(to bottom right, #ffbe64, #c65555) !important;
}
.favorite .dot2 {
  background-image: linear-gradient(to bottom right, #5fa445, #a1ba7a) !important;
}
.favorite .dot3 {
  background-image: linear-gradient(to bottom right, #8345a4, #e85e5e) !important;
}
.favorite .dot4 {
  background-image: linear-gradient(to bottom right, #ffbe64, #c65555) !important;
}
.favorite span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 175px;
  height: 175px;
  text-align: center;
  font-size: 1.2rem;
}

/*    Favorite END     */
/*    HOME PAGE      */
.card-container {
  background-color: #f3f2f8;
  border: 1px solid #bfc9d8;
  padding: 20px 20px;
  border-radius: 8px;
  font-size: 0.9em;
}
.card-container .date {
  line-height: 2rem;
}

.schedule-card {
  white-space: nowrap;
  background-color: #ffffff;
  border: 1px solid #bfc9d8;
  padding: 5px 20px;
  border-radius: 8px;
  margin: 0px 0px 18px 0px;
}
.schedule-card ul {
  display: flex;
  justify-content: space-between;
  color: #7b7485;
  flex-wrap: wrap;
}
.schedule-card ul li:last-child {
  text-align: right;
}
.schedule-card h3 {
  text-overflow: ellipsis;
}

.assignment-wrapper {
  margin: 0px 0px 18px 0px;
}
.assignment-wrapper .assignment-card {
  white-space: nowrap;
  background-color: #ffffff;
  border: 1px solid #bfc9d8;
  padding: 5px 20px;
  border-radius: 8px;
}
.assignment-wrapper .assignment-card ul {
  display: flex;
  justify-content: space-between;
  color: #7b7485;
  flex-wrap: wrap;
}
.assignment-wrapper .assignment-card ul li:last-child {
  text-align: right;
}
.assignment-wrapper .assignment-card h3 {
  overflow: hidden;
  text-overflow: ellipsis;
}
.assignment-wrapper .assignment-subject {
  color: #7b7485;
  font-size: 1em;
  padding-left: 1.4rem;
}

/*     FEED      */
.feed .feed_post {
  background-color: #ffffff;
  border: 1px solid #bfc9d8;
  padding: 1em;
  border-radius: 8px;
  margin-bottom: 1em;
}
.feed .feed_post .post_info {
  display: grid;
  width: 200px;
  grid: row;
  grid-template-areas: "p  a" "p t";
}
.feed .feed_post .post_info .post_author-pic {
  height: 50px;
  width: 50px;
  border-radius: 100px;
  grid-area: p;
  grid-column: 1;
  grid-row: 0;
}
.feed .feed_post .post_info .post_author-name {
  font-weight: 500;
  grid-area: a;
  grid-row: 1;
  grid-column: 2;
}
.feed .feed_post .post_info .post_author-name a {
  color: #463fca;
  text-decoration: none;
}
.feed .feed_post .post_info .post_time {
  color: #7b7485;
  grid-area: t;
  grid-row: 2;
  grid-column: 2;
  color: #7b7485;
}
.feed .feed_post .post_info .post_title {
  display: none;
}
.feed .feed_post .post_content {
  padding-top: 1rem;
}
.feed .feed_post .post_image {
  width: 100%;
}
.feed .feed_post .post_image img {
  max-height: 400px;
  max-width: 100%;
  padding-top: 0.5rem;
}
.feed .feed_update {
  background-color: #ffffff;
  border: 1px solid #bfc9d8;
  padding: 1em;
  border-radius: 8px;
  margin-bottom: 1em;
}
.feed .feed_update a {
  color: #463fca;
  font-weight: 500;
  text-decoration: none;
}
.feed .feed_update .update_time {
  color: #7b7485;
}

.sidebarnav {
  background-color: #191932;
  position: fixed;
  top: 3.5rem;
  left: 0;
  padding: 20px 20px;
  text-align: left;
  height: 100vw;
}
.sidebarnav ul li {
  color: #ffffff;
  padding: 20px 0px;
}
.sidebarnav ul li a {
  color: #c3c5e5;
}
.sidebarnav ul li a:hover {
  color: #ffffff;
}

/* Schedule */
#lesson-card {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
#lesson-card .date {
  flex: 100%;
}
#lesson-card .schedule-card {
  flex: 55%;
}

.schedule-page {
  grid-column: 1/span 8;
  grid-row: 1;
  height: fit-content;
}

.time-card {
  white-space: nowrap;
  background-color: #ffffff;
  border: 1px solid #bfc9d8;
  padding: 5px 20px;
  border-radius: 8px;
  margin: 0px 0px 18px 0px;
  flex: 1 1 25%;
  margin-right: 1%;
}

/* Login */
#login-container {
  background-color: #f3f2f8;
  border: 1px solid #bfc9d8;
  padding: 50px 20px;
  border-radius: 8px;
  grid-column: 4/11;
  grid-row: 2;
  height: fit-content;
  width: 75%;
  margin: auto;
}
#login-container input {
  width: 98%;
  height: 2rem;
  margin: 3% 0;
  border-radius: 8px;
  padding-left: 2%;
}
#login-container button {
  width: 101%;
  padding: 2%;
  border-radius: 8px;
  background-color: #191932;
  color: white;
  border-style: none;
  cursor: pointer;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  color: #ffffff;
  width: 100%;
}
footer ul {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

#login-wrapper {
  position: fixed;
  width: 100%;
  background-image: linear-gradient(354deg, #3e1788 0%, #191932 74%);
  height: 100vh;
}

.sidebarbottom {
  border-top: 1px solid #c3c5e5;
  color: #f3f2f8;
  padding-top: 20px;
}

.nestednavitems {
  margin-top: 1.5rem;
  color: #c3c5e5;
  text-decoration: none;
  cursor: pointer;
  line-height: 3rem;
}
.nestednavitems a {
  color: #c3c5e5;
  text-decoration: none;
  padding-left: 2rem;
}
.nestednavitems a:hover {
  color: #ffffff;
}

.inside {
  margin: 2rem 0rem;
}

@media only screen and (max-width: 1100px) {
  .sidebarnav {
    display: none;
  }

  .mobiletop {
    padding-right: 1rem !important;
  }
}
@media only screen and (min-width: 800px) {
  .logodesktop {
    display: block;
  }
  .logodesktop a img {
    width: 200px;
    padding-left: 1rem;
  }

  .logo {
    display: none;
  }

  footer ul {
    flex-direction: row;
  }
}
@media only screen and (min-width: 1100px) {
  main {
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    grid-gap: 20px;
    grid-template-rows: repeat(4, 120px);
  }

  .container {
    margin-left: calc(12rem + 40px + 1rem);
  }

  .mobilenav {
    display: none;
  }

  .sidebarnav {
    grid-column: 1/span 2;
    grid-row: 1/span 4;
    width: 12rem;
  }

  .schedule {
    grid-column: 9/span 6;
    grid-row: 1;
    height: fit-content;
  }

  .assignment {
    grid-column: 9/span 6;
    height: fit-content;
    grid-row: 4;
  }

  .feed {
    grid-column: 1/span 8;
    grid-row: 3/fit-content;
  }

  .favoritespaces {
    grid-column: 1/span 8;
  }
  .favoritespaces .favorite .dot {
    height: 150px;
    width: 150px;
  }
  .favoritespaces .favorite .dot span {
    height: 150px;
    width: 150px;
    font-size: 1rem;
  }
}

/*# sourceMappingURL=main.css.map */
